Contact us:
healthnetsupport* change in healthnet.views

notification
system account = 'system'

Log 4/26/2015
Contact Us
	Provide a template for PM, Need a support account
	*Need change in healthnet.views
Direct PM 
	Provide links for patient to direct pm his/her doc and nurse

Notification:
	*need a system account "system"
	*Need change in account and medicalinfo views

	New user 
	Admission
	Discharge
	New Case
	Case update
	Case pres update

Transfer patient
Referral

	

Export case detail as pdf

Log 4/27/2015

Staff management
Display location with username


Log 4/28
Fix users/med template
Dumpdata / loaddata
Consistent with page header, forms, buttons
Paginator - inactive patients list, employees list view, case list view, 

Statistic - Users - Insurance


Log4/29
Appointment
Create
Update
Delete

Back to top

If patient didnot initialize their med, doctor can see all funtions
Number input

Log 5/4
Appointment start/end time validation


