
{%extends 'base.html' %}

{% block content %}


<div class="container">
<div class="page-header">
  <h1>Employee List <small></small></h1>
</div>
<!--a class="btn btn-default" href="{% url 'my-patient-list-archive' %} ">All</a-->
<nav>
<ul class="pagination">
    <span class="step-links">
        {% if employees.has_previous %}
            <a href="?page={{ employees.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></a>
        {% endif %}

        <span class="current">
            Page {{ employees.number }} of {{ employees.paginator.num_pages }}.
        </span>

        {% if employees.has_next %}
            <a href="?page={{ employees.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </span>
</ul>
</nav>

<table class="table table-hover">
<thead>
	<tr>
		<th>Employee Type</th>
		<th>Username</th>
		<th>Location</th>
		<th>Last Action</th>
		
	</tr>
</thead>
<tbody>
	{%for e in employees%}
	<tr>
		<th> {{e.get_employee_type_display}}</th>
		<th> {{e.employee.username}}</th>
		<th> {{e.employee.userprofile.location}} {{e.employee.userprofile.get_location_display}}
		<th> {{e.history.most_recent}}

		<th>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			    Actions
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{e.employee.userprofile.get_employee_url}}">Update</a></li>

			  </ul>
			</div>
		</th>
	</tr>
{%endfor%}

</tbody>
</table>

</div>
{% endblock %}
