
{%extends 'base.html' %}

{% block content %}
<div class="container">
<div class="page-header">
  <h1>Patient List <small>Including inactive patients</small></h1>
</div>
<a class="btn btn-default" href="{% url 'my-patient-list' %} ">Active Patient List</a>

<table class="table table-hover">
<thead>
	<tr>
		<th>Patient Name</th>
		<th>Last Action</th>
		<th>Is Active</th>
	</tr>
</thead>
<tbody>
	{%for patient in patients%}
	<tr>
		<th> {{patient}}</th>
		<th>{{patient.get_last_action_display}} on {{patient.updated}}</th>
		<th>{{patient.is_active}}
		<th>
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			    Actions
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{patient.patient.userprofile.get_medinfo_url}}" role="button">Medical Information</a></li>

			  </ul>
			</div>
		</th>
	</tr>
{%endfor%}

</tbody>
</table>

</div>
{% endblock %}
