{%extends 'base.html' %}

{% block content %}
<div class="container">
<div><h1>Patient List</h1></div>

<table class="table">
<thead>
	<tr>
		<th>Patient Name</th>
		<th>Active Status</th>
		<th>Last Action</th>
	</tr>
</thead>
<tbody>
	{%for patient in patients%}
	<tr>
		<th> {{patient}}</th>
		<th>{{patient.is_active}}</th>
		<th>{{patient.get_last_action_display}} on {{patient.updated}}</th>
		<th>  <a class="btn btn-default" href="{{patient.patient.userprofile.get_activate_url}}" role="button">Admit Patient</a></th>
	</tr>
{%endfor%}

</tbody>
</table>

</div>
{% endblock %}
