
{%extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
<div class="page-header">
  <h1>Patient Transfer <small>Patient: {{patient_username}}</small></h1>
</div>

<div class="col-md-8 col-md-offset-2">

<form class="form-inline" method="POST" action="">{%csrf_token%}

			      	<div class="row">
			   		<div class="col-md-6">
					{%for field in form%}
						<div class="form-group">
						{% if field.errors %}
						{%for error in field.errors%}
						<!-- display error -->
							<font color="#a94442">
								<ul>
									<li>{{error}}</li>
								</ul>
							</font>

						{%endfor%}
						<!--field label -->
						<label for="{{field.label}}" class=" control-label">{{field.label}}</label>
							<!--to display x icon if field gives error-->
						<div class="form-group has-error has-feedback ">
							<!--display field-->
							{{field}}
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
			 				<span id="inputError2Status" class="sr-only">(error)</span>
			 				<span id="helpBlock" class="help-block">{{field.help_text}}</span>
						</div>


						{% else %}
						<label for="{{field.label}}" class=" control-label">{{field.label}}</label>
						<div class="form-group ">
						<!--field w/o error-->
						{{field}}
						<span id="helpBlock" class="help-block">{{field.help_text}}</span>
						</div>
						{%endif%}

						</div>
					{%endfor%}
					</div>	<!--col 4-->
					</div>
 <button type="submit" class="btn btn-primary">Sumbit</button>
 <a class="btn btn-default" href="{%url 'my-patient-list'%}">Cancel</a>

</form>


</div>
</div>
</div>
{% endblock %}
