{% extends 'base.html' %}

{%block content %}

{% if messages %}

<!--div='row'>
<div>
    {% for message in messages %}
    <div {% if message.tags == 'success' %}
    class="alert alert-success" role="alert"
    {% elif message.tags == 'info' %}
    class="alert alert-info" role="alert"
    {% elif message.tags == 'warning' %}
    class="alert alert-info" role="alert"
    {% elif message.tags == 'error' %}
    class="alert alert-danger" role="alert"
    {% endif %}>

    	<h3>{{ message }}</h3>
    </div>
    {% endfor %}
</div>
</div-->

{% endif %}

{%endblock%}
