
{%extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="page-header">
  <h1>Patient Admission <small>Patient: {{patient_username}}</small></h1>
</div>

<form class="form-inline" method="POST" action="">{%csrf_token%}

<div>
	<h4>Location: {{location}}</h4>


</div>
<div>
{{form.as_p}}
</div>
<br>
 <button type="submit" class="btn btn-primary">Sumbit</button>
 <a class="btn btn-default" href="{% url 'patient-inactive-list' %}">Back</a>

</form>

</div>
</div>
</div>
{% endblock %}
