{%extends 'base.html'%}


{% block content %}
<div class="container">
<div class="page-header">
  <h1>New Appointment<small></small></h1>
</div>
<div clas="row">
<div class="col-md-6 col-md-offset-2"> 
<form method="post" role="form">
            {% for field in form.visible_fields %}
            <div id="div_{{ field.html_name }}"
                 class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a class="btn btn-default" href="{{user.userprofile.get_calendar_url}}">Cancel</a>

            </div>
        </form>
</div>
</div>

</div>


{%endblock%}