{%extends 'base.html' %}

{% block content %}
<div class="container">
<div class="page-header">
  <h1>Medical Information Initialization</small></small></h1>
</div>

    <form action="" method="POST">{%csrf_token%}
      
     <div class="row">
    <div class="col-md-6">
        <div class="col-md-8">
        {{form1.as_p}}
        </div>
    </div>
    </div>

    <div class="row"> 
    <div class="col-md-6">
        <h4>Emergency Contact</h4><hr>
        <div class="col-md-8">
        {{form3.as_p}}
        </div>    
    </div>
    <div class="col-md-6">
        <h4>Insurance Information</h4><hr>
        <div class="col-md-8">
        {{form4.as_p}}
        </div>
    </div>
    </div>


    <div class="row">
    <div class="col-md-6">
    <h4>Chronical Problem History</h4><hr>
    <table class="table">
        <tr>
            <td>
                {% for field in form2|slice:":4" %}
                <div class="text-right">
                {{ field.label_tag }} 
                {{ field }}
                </div>
                {%endfor%}
             </td>
            <td>
                {% for field in form2|slice:"4:" %}
                <div class="text-left">
                {{ field.label_tag }} 
                {{ field }}
                </div>
                {%endfor%}
             </td>
        </tr>
    </table>
     </div>

     <div class="col-md-6">
     <h4>Allergens</h4><hr>
        <div class="col-md-8">
        {{form5.as_p}}
        </div>

     </div>


     </div>
    <button class="btn btn-primary" type="submit">Submit</button>
 
    </form>

    </div> <!-- /container -->


{% endblock %}

