{%extends 'base.html' %}

{% block content %}
<div class="container">

    <form action="" method="POST">{%csrf_token%}
      <div class="page-header">
        <h1>New Case Inquiry</h1>
       </div>

    <div class="row">
    <div class="col-md-6">
        {{form1.as_p}}
    </div>
    </div>


    <button class="btn btn-primary" type="submit">Submit</button>
 	<a class="btn btn-default" href="{%url 'case-list-view' ref_id=ref_id%}">Back</a>
    </form>

</div> <!-- /container -->


{% endblock %}

