
{%extends 'base.html' %}

{% block content %}


<div class="container">
<div>
	<h3>Patient: {{patient}}

</div>

<table class="table">
<thead>
	<tr>
		<th>Case</th>
		<th>Status*</th>
		<th>Last Action</th>
	</tr>
</thead>
<tbody>
	{%for case in cases%}
	<tr>
		<th> <a href="{% url 'case-detail-view' ref_id=ref_id case_id=case.id %}"> {{case}}</a></th>
		<th>{{case.status}}</th>
		<th>{{case.get_last_action_display}} on {{case.updated}}</th>
	</tr>
{%endfor%}

</tbody>
</table>
<p class="help-block">*Case Status: N=New, A=Active, C=Closed</p>
</div>
{% endblock %}
