
{%extends 'base.html' %}

{% block content %}


<div class="container">
 <div class="page-header">
	<h1>Cases <small>Patient: {{patient}}</small></h1>

</div>



<nav>
<ul class="pagination">
    <span class="step-links">
        {% if cases.has_previous %}
            <a href="?page={{ cases.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></a>
        {% endif %}

        <span class="current">
            Page {{ cases.number }} of {{ cases.paginator.num_pages }}.
        </span>

        {% if cases.has_next %}
            <a href="?page={{ cases.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </span>
</ul>

</nav>


<table class="table">
<thead>
	<tr>
		<th>Case</th>
		<th>Status*</th>
		<th>Last Action</th>
	</tr>
</thead>
<tbody>
	{%for case in cases%}
	<tr>
		<th> <a href="{% url 'case-detail-view' ref_id=ref_id case_id=case.id %}"> {{case}}</a></th>
		<th>{{case.status}}</th>
		<th>{{case.get_last_action_display}} on {{case.updated}}</th>
	</tr>
{%endfor%}

</tbody>
</table>
    <a class="btn btn-primary" href="{%url 'case-init' ref_id=ref_id%}">New Case Inquiry</a>
    
<p class="help-block">*Case Status: N=New, A=Active, C=Closed</p>
</div>
{% endblock %}
