{%extends 'base.html' %}

{% block content %}
        <div class="container">

      <form class="form-signin" action="" method="POST">{%csrf_token%}
      
        <h2 class="form-signin-heading">Init Form</h2>
        {{form1.as_p}}

    <table>
        {% for field in form2|slice:":4" %}
        <tr>
            <td> {{ field.label_tag }} </td>
            <td> {{ field }} </td>
        </tr>
        {% endfor %}
    </table>
    .... Different code ....
    <table>
        {% for field in form2|slice:"4:" %}
        <tr>
            <td> {{ field.label_tag }} </td>
            <td> {{ field }} </td>
        </tr>
        {% endfor %}
    </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


{% endblock %}

